body {
    background-color: var(--bg_body, #f0f9ff);
    color: var(--body-text);
    padding: 0;
    margin: 0;
    transition: 100ms;
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
  }