.favorites {
  position: fixed;
  background-color: var(--bg_default);
  width: 100%;
  height: fit-content;
  padding: 1rem 1rem 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  bottom: -300;
  z-index: 1;
}

#favoritesIcon {
  font-size: 1rem;
}

.topic-favorites {
  display: flex;
  flex-direction: column;
  background-color: var(--bg_default);
  width: 8rem;
  border-radius: 0.7rem;
  margin-top: 1rem;

  box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px;
}
.topic-favorites ion-icon {
  color: goldenrod;
}
.topic-favorites p,
h1 {
  margin: 0;
}
.favorites h1 {
  font-size: 1.2rem;
  font-weight: 900;
}
.topic-favorites img {
  border-radius: 0.7rem 0.7rem 0rem 0rem;
  background-color: white;
}

.topics-favorites {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-right: 3rem;
  padding-bottom: 0.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
}