header {
    width: 100%;
    background-color: var(--bg_default);
  }
 
  nav{

position: relative;
z-index: 100;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

  .nav-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.4rem;
    background-color: var(--bg_default);
  }
  .nav-actions-container {
  display: flex;
  gap: 0.2rem;
}
nav h1 {
  color: var(--brand-primary);
  font-size: 1rem;
  font-weight: 600;
}
.button {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid var(--lines-color);
  font-weight: 400;
  font-size: 0.9rem;
}
.dark-mode-button:hover,
.favorites-button:hover {
  background-color: var(--brand-primary);
  color: white;
}
.welcome-section {
  height: 7.2rem;
}
.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--body-text);
  margin-left: 1rem;
}
.welcome-statement-1 {
  color: var(--brand-secondary);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}


.nav-actions-container span {
  margin-left: 0.5rem;
}

.shape {
  background-color: var(--bg_default);
  height: 6rem;
  box-sizing: content-box;
  padding-bottom: 1.2rem;
  overflow: hidden;
}

.shape2 {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(7, 104, 172, 1) 0%,
    rgba(6, 134, 157, 1) 34%,
    rgba(3, 193, 128, 1) 100%
  );
  height: 138%;
  transform: skewY(357deg);
  margin-right: -1rem;
}

.shape1 {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(7, 104, 172, 1) 0%,
    rgba(4, 174, 137, 1) 39%,
    rgba(3, 193, 128, 1) 100%
  );
  height: 138%;
  transform: skewY(-357deg);
  margin-right: -1rem;
}


/* desktop view */
@media only screen and (min-width: 801px) {
  .welcome-container {
    margin-top: -4.5rem;
  }
  .shape2 {
    top: -238px;
  }

  .shape1 {
    top: -111px;
  }
}

/* mobile view */
@media only screen and (max-width: 800px) {
  .welcome-container {
    margin-top: -5.5rem;
  }
  .nav-actions-container span {
    display: none;
  }
  .shape2 {
    top: -251px;
  }
  .shape1 {
    top: -117px;
  }
}

